<div class="todo-header">
    <span class="todo-title">
        1. Todo List        
    </span>
    <app-toggle-theme-button></app-toggle-theme-button>
</div>
<div class="container">
    <div class="group-container">    
        <app-todo-group 
            *ngFor="let group of getGroups()"
            [title]="group.title"
            [todos]="group.todos"
            class="todo-group"
        ></app-todo-group>
        <div class="bottom-fade"></div>
    </div>
    <!-- <div class="add-container">

    </div> -->
</div>