@import 'src/styles';
$card-spacing: 25px;
$header-height: 70px;

:host {
    height: 100vh;
    display: block;
    position: relative;
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);

    .todo-header {
        height: $header-height;
        width: 100vw;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 25px 0 10px 30px;

        .todo-title {
            font-size: 32px;
            font-weight: 600;
            margin-right: 15px;
        }
    }

    .container {
        display: flex;
        height: calc(100vh - #{$header-height});
        position: relative;

        .bottom-fade {
            position: absolute;
            height: 100px;
            width: 100%;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, var(--background-color) 20%, rgba(255, 255, 255, 0));
        }

        .group-container {
            flex: 1 1 auto;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            box-sizing: border-box;
            overflow: auto;
            z-index: 1;
            padding: $card-spacing;
            padding-bottom: 50px;

            .todo-group {
                width: 50%;
                margin-bottom: 20px;
            }
        }

        .add-container {
            flex: 1 1 auto;
            height: 100%;
            border-radius: 20px 0 0 0;
            background: var(--foreground-color);
            box-shadow: -15px 0 30px -30px black;
        }        

        @media (max-width: $tablet) {
            .group-container {
                // width: 50%;

                .todo-group {
                    width: 100%;
                }
            }

            .add-container, .bottom-fade {
                // width: 50%;
            }
        }

        @media (max-width: $mobile) {
            .group-container, .bottom-fade {
                width: 100%;
            }
            .add-container {
                display: none;
            }
        } 
    }
}