@import 'src/styles';
$screen-height: 216px;
$screen-width: 384px;
$laptop-width: 500px;
$laptop-height: 288px;
$laptop-top-border: 16px;

:host {
  --screen-height: 240px;
  --screen-width: 384px;
  --screen-carousel-offset: calc(-2 * var(--screen-width));

  font-family: 'Fira Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);

    .container {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      .animation-header {
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        align-items: center;

        .title {
          font-size: 32px;
          font-weight: 600;
          margin-right: 15px;
        }
      }

      .animation-container {
          height: var(--screen-height);
          width: var(--screen-width);
          position: relative;

          .frame {
              top: -$laptop-top-border;
              left: calc((#{$laptop-width} - #{$screen-width}) / -2);
              position: absolute;
              z-index: 2;
              height: $laptop-height;
              width: $laptop-width;
              background: url('/assets/images/macbook-frame.png');

              &.dark {
                background: url('/assets/images/macbook-frame-dark.png');
              }
          }

          .screens-container {
              top: 0;
              left: 0;
              position: absolute;
              z-index: 1;
              display: flex;
              transform: translateX(var(--screen-carousel-offset));
              animation: slide 6s infinite;

              .screen {
                  height: var(--screen-height);
                  width: var(--screen-width);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  font-size: 24px;
                  animation: scale 3s infinite cubic-bezier(0,1,1,1);

                  fa-icon {
                    font-size: 50px;
                    color: rgba(0, 0, 0, 0.3);
                    mix-blend-mode: multiply;
                  }

                  &.screen-1 {
                      background: $gradient-1;
                  }

                  &.screen-2 {
                      background: $gradient-2;
                  }

                  &.screen-3 {
                      background: $gradient-3;
                  }

                  &.screen-4 {
                      background: $gradient-4;
                  }

                  &.screen-5 {
                      background: $gradient-5;
                  }
              }
          }
      }
  }
  
  @media (max-width: $mobile) {
    --screen-height: 384px;
    --screen-width: 216px;
  } 
}

@keyframes slide {
  25% {
    animation-timing-function: ease-out;
    transform: translateX(calc(var(--screen-carousel-offset) - var(--screen-width)));
  }
  50% {
    transform: translateX(calc(var(--screen-carousel-offset) - var(--screen-width)));
  }
  75% {
    animation-timing-function: ease-out;
    transform: translateX(var(--screen-carousel-offset));
  }
}

@keyframes scale {
  25% {
    animation-timing-function: cubic-bezier(1,0,1,1);
    transform: scale(0.8);
    border-radius: 10px;
  }
  50% {
    animation-timing-function: cubic-bezier(0,1,1,1);
    transform: scale(1);
    border-radius: 0;
  }
}

  
