@import '/src/styles.scss';

.slide-buttons-container {
    width: 60px;
    height: 35px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--slider-background);
    color: var(--slider-font-color-idle);
    border-radius: 20px;    
    box-shadow: 0px 0px 30px -14px var(--background-color);

    .slide-button {
        cursor: pointer;
        transition: transform 0.1s;

        &:hover {
            transform: scale(1.1);
            color: var(--slider-font-color);
        }
    }
}