@import '/src/styles.scss';

.slider-container {
    position: fixed;
    z-index: 5;
    bottom: 12px;
    left: 0;
    right: 0;
}

.main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--slider-background-color);

    .carousel-container {
        display: flex;
        height: 100vh;
    }
}