<div class="content">
    <div *ngIf="!hasGameStarted()" class="details-container">
        <div class="title">2. The Game</div>
        <div class="buttons-container">
            <span class="start-button" (click)="startBotGame()">
                <fa-icon [icon]="robotIcon"></fa-icon>
                <span>Start Game <br> Player vs Bot</span>
            </span>
            <span class="start-button" (click)="startPlayerGame()">
                <fa-icon [icon]="duelIcon"></fa-icon>
                <span>Start Game <br> Player vs Player</span>
            </span>
        </div>
    </div>
    <div *ngIf="hasGameStarted()" class="game-container">
        <app-game></app-game>
    </div>
</div>
<div class="background"></div>
