@import 'src/styles';
$card-height: 100px;
$card-width: 350px;
$card-spacing: 20px;

.card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: $card-height;
    margin: $card-spacing;
    font-family: $fira-sans;
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.3);
    background-color: var(--foreground-color);
    overflow: hidden;

    .color-border {
        height: 100%;
        width: 6px;
    }

    .card-details {
        padding-right: 20px;

        .title {
            font-weight: 600;
            margin-bottom: 5px;
        }

        .description {
            font-size: 14px;
            color: $gray;
        }
    }

    &.add-card {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background-color: gray;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgb(139, 139, 139);
        }
    }

    &.completed {
        .title {
            color: var(--disabled-color);
            text-decoration: line-through;
        }
    }
}



@media (max-width: $mobile) {
    .card {
        margin: $card-spacing 0;
    }
} 